* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #111;
  --light: #fffaf0;
  --grey-xl: #eee;
  --grey-lg: #ccc;
  --grey-md: #888;
  --grey-dk: #333;
  --primary: #ff4500;
  --primary-lg: #ee835d;
  --secondary: #1284b1; 
  --secondary-lg: #87ceeb;
  --size-1: 1px;  
  --size-2: 2px;  
  --size-3: 3px;  
  --size-4: 4px;  
  --size-5: 5px;  
  --size-6: 6px;  
  --size-8: 8px;  
  --size-10: 10px;  
  --size-12: 12px;  
  --size-15: 15px;
  --size-20: 20px;
  --size-25: 25px;
}

.logo {
  font-family: 'Caveat', cursive;
  font-size: 3rem;
  letter-spacing: var(--size-2);
  color: var(--primary);
}

.heading {
  font-family: 'Bebas Neue', sans-serif;
}
